<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous"/>


    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

    <title>Pokemon</title>
</head>
<body>



<div class="mt-5 container">


    {% comment %} all pokemon {% endcomment %}
    <div class="d-inline-block col-xl-8 align-top">
        <h1 class="display-3">All Pokemon</h1>
        <p id="allPokemon"></p>
        

    </div>





    {% comment %} single pokemon {% endcomment %}
    <div class="d-inline-block col-xl-3 border border-danger align-top">
        <h1 class="display-4">Chosen Pokemon</h1>
        <p id="singlePokemon"></p>


    </div>


</div>




</body>


    <script>
        $(document).ready(function(){
            var pokemonID = 1;
            var allPokemonString = "";

            
        /*
            //or pass url of clicked image to url here
            $.ajax({
                //url:"http://pokeapi.co/api/v2/pokemon/1",
                url:"http://pokeapi.co/api/v2/pokemon/" + pokemonID,
                method:"get",
                success:function(response){
                    //build template to handle JSON here
                    var html_str = "";
                    html_str += "<a class='display-4' href=" + response.forms[0].url + " >" + response.name + "</a>";
                    
                    html_str += "<h4>Types</h4>";
                    html_str += "<ul>";
                    for(var i = 0; i < response.types.length; i++) {
                        html_str += "<li>" + response.types[i].type.name + "</li>";
                    }
                    html_str += "</ul>";
                    $("#singlePokemon").html(html_str);
                }
            },
            "json");
        */


            $.ajax({
                url:"https://pokeapi.co/api/v2/pokemon/?offset=20&limit=50",
                method:"get",
                success:function(response){
                    //iterate over dictionary rendering all pokemon up to max and showing image
                    
                    for(var i = 0; i < response.results.length; i++){
                        $.ajax({
                            url: response.results[i].url,
                            method:"get",
                            success:function(res){
                                //build template to handle JSON here
                                allPokemonString += "<img id='" + res.id + "' class='pokemonImage' src=' " + res.sprites.front_default + " ' alt='pokemon'>"
                                //$("#singlePokemon").html(html_str);
                                $("#allPokemon").html(allPokemonString);
                            }
                            
                        },
                        "json");
                    }
                }
            },
            "json");





                $(document).on('click', '.pokemonImage', function(){
                    
                



                //find a way to pass pokemon ID through image click
                pokemonID = $(this).attr('id');
                console.log(this);
                console.log('testest');
                $.ajax({
                    url:"http://pokeapi.co/api/v2/pokemon/" + pokemonID,
                    method:"get",
                    success:function(response){
                        console.log(pokemonID);
                        console.log(response.forms)
                        //build template to handle JSON here
                        var html_str = "";
                        html_str += "<a class='display-4' href=" + response.forms[0].url + " >" + response.name + "</a>";
                        
                        html_str += "<h4>Types</h4>";
                        html_str += "<ul>";
                        for(var i = 0; i < response.types.length; i++) {
                            html_str += "<li>" + response.types[i].type.name + "</li>";
                        }
                        html_str += "</ul>";

                        html_str += "<h5> Height:";
                        html_str += response.height;
                        html_str += "</h5>";

                        html_str += "<h5> Weight:";
                        html_str += response.weight;
                        html_str += "</h5>";

                        $("#singlePokemon").html(html_str);
                    }
            },
            "json");
            })


        });










    </script>




</html>